<h2 class="flex align-items-center">
  GPIO Pins
  <button
    pButton
    pRipple
    type="button"
    [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi pi-refresh'"
    class="p-button-rounded p-button-secondary p-button-text ml-2"
    pTooltip="Refresh pins"
    (click)="refresh()"
  ></button>
  <span class="flex-1"></span>
  <span class="p-input-icon-right">
    <input pInputText type="text" placeholder="Search" [(ngModel)]="search" />
    <i class="pi pi-search"></i>
  </span>
</h2>

<p-table
  [value]="pins"
  [resizableColumns]="true"
  responsiveLayout="scroll"
  styleClass="p-datatable-sm"
>
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn pSortableColumn="pin" class="pin-number">
        # <p-sortIcon field="pin"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="title">
        Name <p-sortIcon field="title"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="value">
        State <p-sortIcon field="value"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pin>
    <tr *ngIf="!loading; else skeleton">
      <td>{{ pin.pin }}</td>
      <td class="font-medium">{{ pin.title }}</td>
      <td>
        <i
          *ngIf="pin.loading; else switch"
          class="pi pi-spin pi-spinner text-4xl"
        ></i>
        <ng-template #switch>
          <p-inputSwitch
            [(ngModel)]="pin.value"
            [falseValue]="pinValues.Low"
            [trueValue]="pinValues.High"
            (ngModelChange)="update(pin)"
          ></p-inputSwitch>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-template #skeleton>
  <tr>
    <td>
      <p-skeleton height="2rem"></p-skeleton>
    </td>
    <td>
      <p-skeleton height="2rem"></p-skeleton>
    </td>
    <td>
      <p-skeleton height="2rem"></p-skeleton>
    </td>
  </tr>
</ng-template>
